<mat-card class="mt10" *ngFor="let quiz of quizzesData">

  <!--display quiz manner-->
   <mat-card-header>
     <div mat-card-avatar class="example-header-image"></div>
     <mat-card-title>
       {{quiz?.title }}
     </mat-card-title>
     <mat-card-subtitle>
       {{quiz?.category?.title}}
     </mat-card-subtitle>
   </mat-card-header>
   <mat-card-content>
     {{quiz?.description}}
   </mat-card-content>

   <!--navigation button-->
   <mat-card-actions>

  <button mat-flat-button [routerLink]="'/admin/view-questions/'+quiz?.qid+'/'+ quiz?.title" color="primary">Quetions</button>
  <button mat-stroked-button>Max Marks:{{quiz?.maxMark}}</button>
  <button mat-stroked-button>Questions:{{quiz?.numberOfQuetion}}</button>
  <button mat-stroked-button [routerLink]="'/admin/quiz/'+quiz.qid">Update</button>
  <button mat-stroked-button>Attempts</button>
  <button mat-stroked-button color="warn" (click)="deleteQuiz(quiz.qid)">Delete</button>

</mat-card-actions>
</mat-card>

<!--button-->
<div class="container text-center mt20">
  <button routerLink="/admin/add-quiz" mat-raised-button color="primary">Add New Quiz</button>
</div>
